@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-button {
    pointer-events: all;
    padding: 4px 12px;
    background: white;
    border: 1px solid black;
    border-radius: 64px;
}

.custom-button[data-isactive='true'] {
    background-color: black;
    color: white;
}